<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{car.name}}">
  <ion-content class="padding">
    <img ng-src="{{car.profile_picture}}">
    <p>{{car.type}}</p>
    <p>{{car.description}}</p>
    <p>Seats: {{car.seats}} </p>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="activity in activities" type="item-text-wrap" href="#">
        
        <!-- todo user's profile picture <img ng-src="{{car.profile_picture}}"> -->
        
        <p>{{ activity.check_out_time | date: "MMM d, y h:mm a" }}</p>
        <p>{{ activity.check_in_time_expected | date: "MMM d, y h:mm a" }}</p>
        <p>{{ activity.message }}</p>

        <!-- todo do we even need this? <i class="icon ion-chevron-right icon-accessory"></i> -->
        
        <!-- todo check-in -->
        <!-- <label class="item item-input">
          <button class="button button-block button-positive" ng-click="book();"> Borrow Me :-) </button>
        </label> -->
        
        <!-- todo cancel -->
        <!-- <label class="item item-input">
          <button class="button button-block button-positive" ng-click="book();"> Borrow Me :-) </button>
        </label> -->
      </ion-item>
    </ion-list>

    <ion-list>
      <div class="item" ion-datetime-picker ng-model="newActivity.checkOutTime">
        {{newActivity.checkOutTime | date: "MMM d, y h:mm a"}}
      </div>
    </ion-list>

    <ion-list>
      <div class="item" ion-datetime-picker ng-model="newActivity.checkInTimeExpected">
        {{newActivity.checkInTimeExpected | date: "MMM d, y h:mm a"}}
      </div>
    </ion-list>

    <label class="item item-input">
      <input type="text" ng-model="newActivity.message" placeholder="Leave a message">
    </label>

    <label class="item item-input">
      <button class="button button-block button-positive" ng-click="book();"> Borrow Me :-) </button>
    </label>

  </ion-content>
</ion-view>